.env
venv/
.idea/
__pycache__/
*/__pycache__/*
*$py.class
# C extensions
*.so
.Python
env/
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.mo
*.pot
.webassets-cache
.ipynb_checkpoints
.python-version
celerybeat-schedule
.venv
ENV/
tmp
static/upload
*.yaml
payment_privatekey.txt
payment_publickey.txt
test.py
